{% extends "layout.html" %}

{% block content %}

<div class="card text-center border-danger">
<div class="card-header border-success">
   Adeti Gir...
  </div>
  <div class="card-body">
<table id="table" 
	data-url="/kanveren/json/datatable"
	data-toggle="table"
	data-pagination="true"
	data-search="true"
	data-pagination-loop="false"
	data-click-to-select="true"
	data-checkbox-header="false"
	data-side-pagination="server"
	data-single-select="true" >
<thead>
<tr>
 	<th data-field="state" data-checkbox="true"></th>
 	<th data-field="tip">Tip</th>
 	<th data-field="rh">Rh</th>
    <th data-field="isim">İsim</th>
    <th data-field="soyisim">Soyad</th>
   	<th data-field="tc">Tc</th>
    <th data-field="kanid">kan</th>
</tr>
</thead>
</table>
</div>
</div>


<script>

 $(function() {
 	
 	var quantitiy=0;
   $('.quantity-right-plus').click(function(e){
        
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($('#quantity').val());
        
        // If is not undefined
        $('#quantity').val(quantity + 1);
        // Increment
        
    });

     $('.quantity-left-minus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var quantity = parseInt($('#quantity').val());
        
        // If is not undefined
      
            // Increment
            if(quantity>1){
            $('#quantity').val(quantity - 1);
            }
    });


 	
 	function stokkan(tc,kid,adet) {
	 	$.ajax({
	    type: "post",
	    url: "/kanveren/json?tc="+tc+"&kid="+kid+"&adet="+adet,
	    contentType: "json",
	    success: function(responseData, textStatus, jqXHR) {
	    	alert(adet+ "adet kan bilgisi eklendi.");
		   	//[{"id": 14, "adet": 3}, {"id": 11, "adet": 1}]
 			//$stable.bootstrapTable({data: data})
	    },
	    error: function(jqXHR, textStatus, errorThrown) {
	        console.log(errorThrown);
	    }})
 	}

 	
 	$( "#ekle" ).click(function() {
 		var $table = $('#table');
 		var json=JSON.parse(JSON.stringify($table.bootstrapTable('getSelections')));
 		var adet = parseInt($('#quantity').val());
 		if (json.length==0){
 			alert('Lütfen bir kişi seçiniz.');
 		}
 		else
 		stokkan(json[0].tc,json[0].kanid,adet);
 	});
 	
 	
   
 });
 
 

</script>

{% endblock content %}



{% block rightmenu %}


<h5 class="modal-title" id="exampleModalLabel">Kan adeti giriniz.</h5>
<br/>
<div class="col-lg-5">
<div class="input-group">
<span class="input-group-btn">
<button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
  -
</button>
</span>
<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1">
<span class="input-group-btn">
<button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
    +
</button>
</span>
</div>
</div>

<div class="modal-footer">
<button id='ekle' type="button" class="btn btn-primary">Tamam.</button>
</div>
{% endblock rightmenu %}
