.kan{
    margin-left: 6em;
}

.kan>*{
		float: left;
		margin-left: -30px;
		
	}
.ldBar-label {
	display: none;
    margin-left: 43px;
    font-size: large;
}


.ldBar{
position:relative;
}
.ldBar.label-center > .ldBar-label{
	display: none;
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
text-shadow:0 0 3px #fff
}
.label{
position:absolute;
top:50%;
left:50%;
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
text-shadow:0 0 3px #fff
}
/*
.ldBar-label:after{
content:"%";display:inline
}
.ldBar.no-percent .ldBar-label:after
{
content:""
}*/